/*general*/
:root {
  --primary: #e21515;
  --primary-active: #f51b1b;
  --secondry: #eab414;
  --secondry-active: #f7bb0e;
  --white: #fbfbfb;
  --white-active: #f9f9f9;
  --dark: #0d0d0f;
  --dark-active: #1a171e;
}

body {
  background: var(--dark);
  color: var(--white);
}
.text-secondry {
  color: var(--secondry);
}

.active,
.dot:hover {
  background-color: inherit !important;
}
.dots {
  z-index: 10000;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
}
.btn {
  align-items: center;
  display: flex;
  transition: 0.2s all ease-in-out;
}

.form-control {
  background: transparent;
  transition: 0.2s all ease-in-out;
  color: var(--white-active);
  border: 0;
  border-bottom: 1px solid var(--primary);
  border-radius: 0;
  box-shadow: none;
}

.form-control:hover {
  box-shadow: none;
}

.form-control:focus {
  background: transparent;
  border-color: var(--white);
  box-shadow: none;
  color: var(--white-active);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

/*header navbar*/
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler.active,
.btn,
.btn:hover,
.btn.active {
  border: none;

  outline: 0;
}
.navbar-toggler:focus,
.btn:focus {
  box-shadow: none;
}
.navbar {
  background-color: var(--dark-active) !important;
  z-index: 22;
}

.nav-link {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondry) !important;
}

.navbar-brand {
  color: var(--primary);
  font-size: 1.25rem;
}

.navbar-brand.active,
.navbar-brand:hover {
  color: var(--primary-active) !important;
}
.navbar .container {
  align-items: center;
}

/*carsoul*/
/* .home .carousel-image {
  width: fit-content;
  margin: auto;
} */

.home .carousel-container {
  background: var(--dark) !important;
}

.home .prev,
.home .next {
  padding: 6px;
  margin: 0 8px;
}

.home .thumbnails {
  max-width: 96.6vw !important;
  margin: auto;
  margin-top: -22vh;
  z-index: 2222;
  position: relative;
}

.home .thumbnail {
  margin: 14px;
  transition: 0.2s all ease-out;
  max-width: 200px;
}

.home .active-thumbnail {
  border: none;
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .home .thumbnails {
    margin-top: -24vh;
  }
}

@media (max-width: 768px) {
  .home .thumbnails {
    margin-top: -18vh;
  }
  .carousel-image {
    object-fit: contain !important;
  }
  .home .carousel-container {
    height: 82vh !important;
  }
}
@media (max-width: 678px) {
  .home .thumbnails {
    display: none;
  }
  .home .carousel-container {
    height: min-content !important;
    max-height: 100vh !important;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 2vh;
  z-index: 23;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  border-top: 60px solid var(--secondry);
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border-top: 60px solid var(--secondry-active);
}
.movie-icon {
  color: var(--primary);
  vertical-align: bottom;
  font-size: 2rem;
  margin-right: 0.6rem;
}
.loading {
  background: #0d0d0f;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 33333333333333333;
  position: fixed;
  left: 0;
}
.spinner {
  -webkit-animation: lds-ripple 1s infinite ease-in-out;
  animation: lds-ripple 1s infinite ease-in-out;
  background-color: #f00000;
  border-radius: 100%;
  height: 4.5rem;
  width: 4.5rem;
}
@keyframes lds-ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.5;
    transform: scale(1);
    opacity: 0.7;
  }
}
.alert-container {
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
  margin: 20px 1rem;
}
.form-container .form {
  padding: 8rem 2rem 6rem;
  background-color: var(--dark-active);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  min-width: 350px;
  box-shadow: 3px 4px 8px #3b1010;
}
.form .circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: url('../public/bg1.png');
  background-repeat: no-repeat;
}
.form .circle2 {
  position: absolute;
  bottom: -0;
  left: -0;
  width: 100%;
  height: 160px;
  background: url('../public/bg2.png');
  background-repeat: no-repeat;
}
.custom-btn,
.btn-outline {
  background-color: var(--primary);
  /* background: linear-gradient(200deg, var(--primary-active), #060606); */
  transition: all ease-in-out 0.3s;
  color: var(--white);
  outline: none;
  border-radius: 23px;
  box-shadow: none;
  padding: 0.275rem 1rem;
}
.btn-outline {
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding: 0.275rem;
}
.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus-visible {
  opacity: 1;
  box-shadow: none;
  background-color: var(--primary-active) !important;
}
.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus-visible {
  color: var(--primary-active);
}
form {
  z-index: 2;
  position: relative;
}
a {
  color: var(--primary);
}
a:hover,
a:active,
a:focus-visible {
  outline: none;
  color: var(--primary-active);
}

.form .icon-container {
  position: relative;
}
.form .icon-container .icon {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 24px;
}
.form .form-control {
  padding-left: 2rem;
}
.icon {
  font-size: 20px;
}

/* not found*/
.notfound-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.notfound-container h1 {
  font-size: 10em;
}
.notfound-container span {
  font-size: 1.6em;
  margin-bottom: 1em;
  display: inline-block;
}
.notfound-container .error {
  color: #fcbb00;
}
.notfound-container a {
  border: 1px solid;
  padding: 0.2em 2em;
  border-radius: 0.7em;
}

.card.trending {
  border-radius: 10px;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 10px 14px;
  /* max-width: 450px; */
  margin: auto;
  color: var(--white);
}
.card.trending.pc {
  min-height: 350px;
}
.card.trending > * {
  z-index: 3;
}
.card.trending img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
  left: 0;
  top: 0;
}
@media (max-width: 1200px) {
  .card.trending.pc {
    min-height: 200px;
  }
}
@media (max-width: 668px) {
  .card.trending {
    max-width: 100%;
  }
}
.bookmark_icon {
  font-size: 24px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* z-index: 2;  */
}
.profile-container .overlay {
  border-radius: 50%;
}
.bookmark-btn {
  width: fit-content;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.5);
}
.profile-container {
  position: relative;
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  margin: auto;
}
.profile-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.profile-image img {
  width: 100%;
}
.profile-container .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  z-index: 3;
}
input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  left: 50%;
  clip-path: circle(50%);
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.dropdown-menu {
  background: var(--dark-active);
  margin-top: 1rem !important;
}
.dropdown button {
  background: transparent !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: #25212b;
}

.movieList {
  z-index: 6;
}
/*details page*/
.details-bg {
  background-size: cover;
  min-height: 100vh;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
}
.details-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-container > .overlay {
  z-index: 2;
  position: fixed;
  background: linear-gradient(90deg, black, transparent);
}
.details-content {
  position: relative;
  z-index: 5;
  /* backdrop-filter: blur(2px); */
}
button.icon-container {
  background: var(--primary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
button.icon-container.bookmark {
  background: var(--secondry);
}
button.icon-container:hover,
button.icon-container.active,
button.icon-container:disabled,
button.icon-container.disabled {
  background: var(--primary-active);
}
button.icon-container.bookmark:hover,
button.icon-container.bookmark.active {
  background: var(--secondry-active);
}
