/*--------------general-------------------*/
:root {
  --primary: #e21515;
  --primary-active: #ff1c1cea;
  --secondry: #eab414;
  --secondry-active: #f7bb0e;
  --white: #fbfbfb;
  --white-active: #f9f9f9;
  --dark: #0d0d0f;
  --dark-active: #1a171e;
}

body {
  background: var(--dark);
  color: var(--white);
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  font-family: 'Cabin', sans-serif;
}

.text-secondry {
  color: var(--secondry) !important;
}

h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: inherit;
}

h3 {
  font-size: 1.5rem;
}

.primary {
  color: var(--primary);
}

.primary:hover {
  color: var(--primary-active);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.active,
.dot:hover {
  background-color: inherit !important;
}

.dots {
  z-index: 500;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover,
a:active,
a:focus-visible {
  outline: none;
  color: var(--primary-active);
}

.btn {
  align-items: center;
  display: flex;
  transition: 0.2s all ease-in-out;
  color: #c4d1dd;
  border: none;
  outline: 0;
  /* background: transparent; */
}

.btn:hover,
.btn:active,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border: none;
  outline: 0;
  color: white;
  background: transparent;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-color: transparent;
}

.btn:focus {
  box-shadow: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

/*---------------message modal-------------------------*/
.alert-container {
  position: fixed;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}

/*-----------------scroll style----------------*/

::-webkit-scrollbar {
  width: 0.5vw;
  height: 2vh;
  z-index: 23;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  border-top: 60px solid var(--secondry);
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border-top: 60px solid var(--secondry-active);
}

/*------------------------form style---------------------*/
.input-group-text {
  padding: 0.375rem;
  background-color: var(--dark-active);
  border: none;
  /* box-shadow: 1px 1px 2px #000; */
  border-radius: 0;
}

.input-group {
  box-shadow: 0px 1px 5px #000000;
  max-width: 400px;
}

.form-control:hover {
  box-shadow: none;
}

.input-group>.form-control,
.input-group>.form-control:focus .input-group>.form-floating,
.input-group>.form-select {
  border: none;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a8a8a8 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a8a8a8 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a8a8a8 !important;
}

.form-control {
  background: var(--dark-active);
  transition: 0.2s all ease-in-out;
  color: var(--white-active);
  border: 0;
  border-bottom: 1px solid var(--primary);
  border-radius: 0;
  box-shadow: none;
  transition: all ease-in 0.2s;
}

.form-control:hover {
  box-shadow: none;
}

.form-control:focus {
  background: var(--dark-active);
  border-color: var(--white);
  box-shadow: none;
  color: var(--white-active);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
  margin: 20px 1rem;
}

.form-container .form {
  flex-direction: column;
  padding: 8rem 2rem 6rem;
  background-color: var(--dark-active);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  min-width: 350px;
  box-shadow: 3px 4px 8px #3b1010;
}

form {
  z-index: 2;
  position: relative;
}

.form .circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: url('../public/bg1.png');
  background-repeat: no-repeat;
}

.form .circle2 {
  position: absolute;
  bottom: -0;
  left: -0;
  width: 100%;
  height: 160px;
  background: url('../public/bg2.png');
  background-repeat: no-repeat;
}

form .icon-container {
  position: relative;
}

form .icon-container .icon {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 24px;
}

.form .form-control {
  padding-left: 2rem;
}

/*-----------buttons----------*/
.custom-btn,
.btn-outline,
.filter-btn,
.secondry-btn {
  background-color: var(--primary);
  transition: all ease-in-out 0.2s;
  color: var(--white);
  outline: none;
  border-radius: 23px;
  box-shadow: none;
  padding: 0.275rem 1rem;
}

.filter-btn {
  background-color: var(--dark-active);
}

.secondry-btn {
  background-color: var(--secondry);
}

.btn-outline {
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding: 0.275rem;
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn.active,
.custom-btn:focus-visible {
  opacity: 1;
  box-shadow: none;
  background-color: var(--primary-active) !important;
}

.custom-btn.disabled,
.custom-btn:disabled {
  background-color: var(--primary-active) !important;
}

.filter-btn:hover,
.filter-btn:active,
.filter-btn.active,
.filter-btn:focus-visible {
  opacity: 1;
  box-shadow: none;
  background-color: var(--primary) !important;
  color: var(--white);
}

.secondry-btn:hover,
.secondry-btn:active,
.secondry-btn.active,
.secondry-btn:focus-visible {
  opacity: 1;
  box-shadow: none;
  background-color: var(--secondry-active) !important;
  color: var(--white);
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus-visible {
  color: var(--primary-active);
}

/*-----------icons----------*/
.icon {
  font-size: 20px;
}

.search-icon {
  font-size: 24px;
}

.movie-icon {
  color: var(--primary);
  vertical-align: bottom;
  font-size: 2rem;
  /* margin-right: 0.6rem; */
}

.bookmark_icon {
  font-size: 24px;
}

.bookmark-btn:hover .bookmark_icon {
  color: var(--secondry-active);
}

.fav-btn:hover .bookmark_icon {
  color: #d82e3f !important;
}

.watch-btn:hover .bookmark_icon {
  color: #0ed40e !important;
}

.watch-btn:hover .bookmark_icon {
  color: rgba(23, 233, 23, 0.899)1 !important;
}

.bookmark-btn,
.fav-btn, .watch-btn {
  width: fit-content;
  /* margin-left: auto; */
  background: rgba(0, 0, 0, 0.5);
}

.green {
  color: #0ed40e;
}

.fav-btn:hover,
.bookmark-btn:hover,
.watch-btn:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

button.icon-container {
  background: var(--primary);
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

button.icon-container:hover,
button.icon-container.active,
button.icon-container:disabled,
button.icon-container.disabled {
  background: var(--primary-active);
}

button.icon-container.bookmark:hover,
button.icon-container.bookmark.active {
  background: transparent !important;
}

button.icon-container.bookmark {
  background: var(--secondry);
}

.nav-link {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondry);
}

@media (max-width: 1200px) {
  h5 {
    font-size: 1rem;
  }
}

/*----------------------not found page---------------------*/
.notfound-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.notfound-container h1 {
  font-size: 10em;
}

.notfound-container span {
  font-size: 1.6em;
  margin-bottom: 1em;
  display: inline-block;
}

.notfound-container .error {
  color: #fcbb00;
}

.notfound-container a {
  border: 1px solid;
  padding: 0.2em 2em;
  border-radius: 0.7em;
}

/*---------------------------- card style------------------------*/
.card-container {
  animation-name: cardAnimation;
  animation-duration: 1s;
  transition: all 1s ease-in;
  cursor: pointer;
}

@keyframes cardAnimation {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

.card.trending {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 0;
  /* background: transparent; */
  background: var(--dark-active);
  cursor: pointer;
  margin: auto;
  color: var(--white);
  box-shadow: 0px 1px 8px #000000;
}

.card.trending>* {
  z-index: 3;
}

.bg-container {
  background: var(--dark-active);
  border-radius: 10px;
  margin: 6px;
}

.card-content {
  position: absolute;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  bottom: 0;
  padding: 10px 14px;
  left: 0;
  right: 0;
  height: 100%;
}

.card.trending img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  z-index: 2;
  left: 0;
  top: 0;
  min-height: 168px;
  object-fit: cover;
  background: var(--dark-active);
}

@media (max-width: 668px) {
  .card.trending {
    max-width: 100%;
  }
}


.movieList {
  z-index: 6;
}



/*-----------------------details page--------------------------------*/
.list-dropdown {
  background: var(--dark-active);
  padding: 0.1rem 0.75rem;
  border-radius: 5px;
}

.list-dropdown .btn {
  padding: 0;
  line-height: 2rem;
}

.list-dropdown .dropdown-toggle::after {
  display: none;
}

.list-dropdown .dropdown-menu {
  transform: translate(0, 25px) !important;
  margin-top: 0;
}

.list-dropdown .drop-item {
  padding: 0.1rem 0.75rem;
}

.details-bg {
  background-size: cover;
  background-size: cover;
  width: 100%;
  background-position: top center;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  z-index: 4;
}

.details-content {
  padding: 2rem;
  position: relative;
}

.details-bg::before {
  position: absolute;
  content: '';
  background: linear-gradient(90deg, black, transparent);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.details-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-container .details-content *:not(.search-container) {
  z-index: 3;
}

.seasons-list {
  z-index: 5;
}

.details-related-content {
  z-index: 3;
  padding: 2rem;
  background: #0d0d0f;
  height: 100%;
}

.onair {
  background: #17e917;
}

.end {
  background: rgb(55, 55, 255);
}

@media (max-width: 668px) {

  .details-related-content,
  .details-content {
    padding: 1rem;
  }
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.fade {
  -webkit-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}

@media (max-width: 480px) {
  .card.crew {
    max-width: 45%;
  }
}

/*-------------------------person style------------------*/
.person-container {
  min-height: auto;
}

/*-------All movies-----------------*/
.movies-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  width: fit-content;
  padding: 0;
  border-radius: 15px;
}

.movies-list a {
  color: #eee;
  padding: 0.4rem 0.7rem;
  transition: all ease-in-out 0.3s;
  border-radius: 7px;
}

.movies-list a.active {
  background-color: var(--secondry) !important;
}

.movies-list a:hover {
  background-color: var(--secondry) !important;
}

.search-results .search-item:hover {
  background: var(--dark-active);
}

.tv-list {
  gap: 0.8rem;
}

.tv-list a {
  color: #a8a8a8 !important;
  border-bottom: 3px solid transparent;
  padding: 0.2rem 0.5rem;
  transition: color ease-in 0.2s;
}

.tv-list a:active,
.tv-list a.active,
.tv-list a:hover {
  cursor: pointer;
  color: var(--white) !important;
  border-bottom: 3px solid var(--secondry);
}

.active>.page-link,
.page-link.active,
.page-link:focus {
  z-index: 3;
  color: var(--secondry);
  background-color: var(--secondry-active);
  border-color: var(--dark);
  color: var(--white);
  box-shadow: none;
}

.page-link {
  color: var(--secondry);
  background-color: var(--dark-active);
  border-color: var(--dark);
}

.page-item.disabled .page-link {
  color: #c6bfd1;
}

.page-link:hover {
  z-index: 2;
  color: var(--secondry);
  background-color: #ffedb733;
  border-color: #403f3e;
}

.disabled>.page-link,
.page-link.disabled {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--dark-active);
  opacity: 0.6;
  border-color: var(--dark);
}

.genre-btn {
  display: none;
  margin: auto;
  width: 100%;
  border-radius: 5px;
}

.genre-container {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .genre-btn {
    display: block;
  }

  .genre-container {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none!important;
  }

  .page-link {
    font-size: 12px;
  }
}

.filter-dropdown {
  background: var(--dark-active);
  border-radius: 6px;
}

.filter-dropdown button,
.filter-dropdown .dropdown-item {
  color: var(--white) !important;
}

.filter-dropdown .genre {
  max-width: 300px;
  display: flex;
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-dropdown .genre .dropdown-item {
  width: 50%;
  padding: 0;
}

.filter-dropdown .genre .dropdown-item:nth-child(odd) {
  border-right: 1px solid var(--dark);
}

.filter-dropdown .genre button {
  width: 100%;
}

.p-dropdown {
  background: var(--dark-active);
  border: none;
  border-radius: 6px;
  outline: none;
}

.p-dropdown-label {
  padding: 0.6rem 0.75rem;
}

.p-dropdown-trigger {
  outline: none;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-dropdown-items,
.p-dropdown-panel {
  background: var(--dark-active);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: #a8a8a8;
}

.p-dropdown .p-dropdown-label {
  color: #fff;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #fff;
  background: #25212b;
}

.p-dropdown-panel {
  margin-top: 0.5rem;
}

.p-dropdown-panel .p-dropdown-header {
  border-bottom: 1px solid var(--dark);
  color: #343a40;
  background: var(--dark-active);
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  background: var(--dark);
  box-shadow: none;
  outline: none;
  border: none;
  color: var(--white);
}

.video-container {
  padding: 0 0 1rem;
  overflow: auto;
  overflow-x: hidden;
  max-height: 360px;
  height: 100%;
}

.video-container .card {
  width: 100%;
  border-radius: 0px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--white);
  border-bottom: 1px solid #403f3e;
  transition: all 0.2s ease-in;
  /* box-shadow: 0px 1px 5px #000000; */
}

.video-container .card:hover,
.video-container .card.active {
  background-color: var(--dark-active) !important;
}

@media screen and (min-width: 1200px) {
  .w-md-40 {
    width: 38% !important;
  }

  .w-md-60 {
    width: 59% !important;
  }

  .video-player {
    height: 500px !important;
  }

  .video-container {
    max-height: 500px;
  }
}

.slick-next:before,
.slick-prev:before {
  font-size: 24px;
}

.form-type-number {
  position: relative;
  height: 36px;
}

.form-type-number input {
  border-radius: 0.375rem;
}

.form-type-number input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-type-number input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn-minus,
.btn-plus {
  position: absolute;
  color: var(--secondry);
  width: 20px;
  height: 18px;
  border: none;
  background-color: transparent;
  text-align: center;
  right: 0;
  cursor: pointer;
  line-height: 18px;
  font-size: 22px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.btn-minus:disabled,
.btn-plus:disabled,
.btn-minus.disabled,
.btn-plus.disabled {
  color: #c6bfd1 !important;
  pointer-events: none;
  cursor: default !important;
  opacity: 0.5;
}

.btn-minus {
  bottom: 0;
}

.btn-plus {
  top: 0;
}

@media screen and (max-width: 480px) {

  .btn-minus,
  .btn-plus {
    width: 17px;
    height: 12px;
    right: 0;
    line-height: 12px;
    font-size: 18px;
  }

  .btn-minus {
    bottom: 2px;
  }

  .btn-plus {
    top: 2px;
  }

  .form-type-number {
    height: 30px;
  }

  .form-type-number input,
  .page {
    font-size: 12px;
  }

  .page-form .btn {
    font-size: 1rem;
  }
}

:focus {
  outline: none !important;
}