
.search-page .img-container {
width: 120px;
  position: relative;
  flex-shrink: 0;
  background-color: var(--dark-active);
  height: 168px;
  border-radius: 5px;
  overflow: hidden;
}
.search-page .img-container img {
  width: 100%;
  object-fit: cover;

}
.search-page .item{
    padding: 1rem;
    transition: all ease-in 0.2s;
    margin-bottom: 1rem;
}
.search-page .item:hover{
    background: var(--dark-active);
 
}
@media screen and (max-width: 480px) {
  .search-page .img-container {
  width: 80px !important;
  height: 112px;
  }
  .search-page .item:hover{
    background: none;
 
}
}
