/*side bar style*/
.content-container {
  display: flex;
  flex-direction: row;
}
.content {
  left: 230px;
  position: relative;
  width: calc(100% - 230px);
}
.left-sidebar {
  height: 100%;
  min-width: 230px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: var(--dark-active);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-brand.sidebar {
  position: fixed;
  background: var(--dark-active);
  top: 0;
  width: 220px;
  padding: 1.5rem 0.5rem 0.4rem;
}


.avater {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  overflow: hidden;
  background: #393939;
  background: url('../../public/person.png');
  background-size: cover;
  box-shadow: 2px 2px 2px #932e2e;
  display: inline-block;
}

@media (max-width: 992px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
  .navbar-brand.sidebar {
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 0 !important;
    width: fit-content;
  }
  .left-sidebar {
    flex-direction: row;
    position: relative;
    margin: 0 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .icon-text {
    display: none;
  }
  .content {
    left: 0px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .input-group {
    width: 100%;
  }
}
