/*----------------search--------------------*/
.search-container {
    position: sticky;
    top: 0;
    z-index: 200;
    /* left: 230px; */
    padding: 0;
    /* width: calc(100vw - 230px); */
  }
  .search-container .input-group {
    max-width: 100%;
  }
  .search-container input {
    padding: 0.7rem 0.3rem;
    background: #252525;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .navbar  .search-container input{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .navbar   .search-container .input-group-text 
{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .search-container .input-group-text,.form-control:focus{
    background: #252525;
  }
  .search-results {
    position: absolute;
    z-index: 68 !important;
    background: var(--dark);
    margin-top: 0rem;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 1px 5px #000000;
    border-radius: 0px 0px 5px 5px;
  }
  @media screen and (max-width: 992px) {
    .search-container {
      position: relative;
      top: 0;
      z-index: 200;
      left: 0;
      padding: 0;
      width: 100%;
      margin-bottom: 1rem;
      display: none;
    }
    .navbar .search-container{display: block; }
  }
  .search-results .search-item {padding: 0.6rem 1rem;}
  .search-results .search-item:hover { background: var(--dark-active);}
  .btn:hover,
.btn:active,
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border: none;
  outline: 0;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-color: transparent;
  background: transparent;
}